.custom-id-cell {
  width: 6%;
  color: red;
}

.max-width-100 {
    max-width: 100%;
    white-space: nowrap;
    table-layout: auto;
  }

  .page-link {
    padding: 15px 15px;
  }

  .react-bootstrap-table table {
    table-layout: auto;
  }